# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Local data and experiment artifacts
data/raw/
data/interim/
data/processed/
mlruns/

# OS / editor
.vscode/
.DS_Store
Thumbs.db
